<% include ../partials/header %>




    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome To The Show!</h1>
            <p class="lead b-4">Join the conversation! You can create a post, write comment on a post, and you can modify or delete the content you created. The posts are orered by latest activity. Thats all, good luck!</p>
            <hr class="my-4">
    
            <p class="lead">
                <a class="btm btn-success btn-lg" href="/posts/new"> <i class="fas fa-pen"></i> Add New Post</a>
            </p>
    </div>
 
    <div class="container">
        <% posts.forEach(function(post){ %>
            <div class="d-flex row align-items-center justify-content-center">
                <div class="card w-75 my-2">
                    <div class="card-header bg-light">
                            <em><%= post.author.username %> at <%= dateformatter.nicedate(post.date) %></em> 
        
                            
                            <span class="float-right text-muted">last activity: <%= dateformatter.nicedate(post.lastUpdate) %></span>
                
                    </div>
                    <div class="card-body pb-0 ">
                        <div class="d-flex">
                            <div>
                                <img class="float-left avatar rounded mb-3" src="/imgs/npc.jpg">
                            </div> 
                            <div class="postText mx-3"><%- post.content %></div>
                        </div>
                        
                        
                        <ul class="list-group list-group-flush">
                        <% post.comments.forEach(function(comment){ %>
                            <li class="list-group-item comment">
                                <div class="comment-header bg-light p-1">
                                    <em><%= comment.author.username %></em>
                                    <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>

                                    <a class="text-warning pl-2 py-0" href="/posts/<%= post._id %>/comments/<%= comment._id %>/edit"><i class="far fa-edit"></i></a>
                                    <form class="delete-form" action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <button class="text-danger border-0 p-0" onclick="return confirm('Are you sure you want to delete this comment?');"><i class="far fa-trash-alt"></i></button>
                                    </form>
                                    <% } %>
                                    
                                    <span class="float-right text-muted"><%= dateformatter.nicedate(comment.date) %></span>  
                                </div>
                                
                                <div class="d-flex">
                                    <div>
                                        <img class="float-left avatar rounded mt-2" src="/imgs/npc3.png">
                                    </div> 
                                    <div class="commentText mx-3"><%- comment.content %></div>
                                </div>

                                
                                
                            </li>
                        <% }); %>
                    </ul>
                    
                    </div>
                    <div id="buttoncontainer" class="d-flex justify-content-around">

                            
                            <a class="btn btn-outline-primary postbutton" href="/posts/<%= post._id %>/comments/new"><i class="far fa-comments"> Write Comment</i></a>

                        <% if (currentUser && post.author.id.equals(currentUser._id)) { %>

                                <a class="btn btn-outline-primary postbutton" href="/posts/<%= post._id %>/edit"><i class="far fa-edit"></i> Edit Post</a>
                                <form class="delete-form" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-outline-primary postbutton" onclick="return confirm('Are you sure you want to delete this post?');"> <i class="far fa-trash-alt"></i> Delete Post</button>
                                </form>
                        <% } %>
                    
                        
                    </div>
                    </div>
                </div>
                <% }); %>
            </div>
        
    </div>
</div>

<% include ../partials/footer %>